/* Improve fonts */
:root {
    --base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, 
Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 
"athenaruby";
    --heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
"Segoe UI Symbol", "athenaruby";

    --fs-base: 16px;
    --base-line-height: 1.666;
    --fraction: 1.25;

    --fs-small: calc(var(--fs-base)/var(--fraction));
    --fs-tiny: calc(var(--fs-small)/var(--fraction));
    --fs-medium: calc(var(--fs-base)* var(--fraction));
    --fs-large: calc(var(--fs-medium)* var(--fraction));
    --fs-xlarge: calc(var(--fs-large)* var(--fraction));
    --fs-xxlarge: calc(var(--fs-xlarge)* var(--fraction));
    --fs-huge: calc(var(--fs-xxlarge)* var(--fraction));
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
table thead,
table tbody {
    font-family: var(--base-font);
    line-height: var(--base-line-height);
}

p,
table,
table thead,
table tbody {
    font-size: var(--fs-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    line-height: var(--base-line-height);
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: var(--fs-huge);
}

h2 {
    font-size: var(--fs-xxlarge);
}

h3 {
    font-size: var(--fs-xlarge);
}

h4 {
    font-size: var(--fs-large);
}

h5 {
    font-size: var(--fs-medium);
}

h6 {
    font-size: var(--fs-base);
}

/* Improve header background */
#site-title {
    background-size: cover;
    color: #fff;
    text-align: left;
}

#site-title a {
    color: #fff;
}

/* Navigation – Sub-menus to be transparent */
.top-bar-section ul li.active > a {
    background-color: transparent;
}

/* nav.top-bar {
  position: sticky;
  top: 0;
  z-index: 10;
} */

.title-area a {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItaG9tZSI+PHBhdGggZD0iTTMgOWw5LTcgOSA3djExYTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yeiI+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9IjkgMjIgOSAxMiAxNSAxMiAxNSAyMiI+PC9wb2x5bGluZT48L3N2Zz4=);
    text-indent: -9999px;
    overflow: hidden;
    filter: invert(1);
}

/* Export bar */
.export-seal {
    margin-top: 2em;
    color: #000;
    font-size: var(--fs-base);
    font-weight: 400;
}

/* Pagination */
ul.pagination {
    display: flex;
    gap: 0.5em;
    height: auto;
    margin: 0;
    margin-bottom: 1em;
}

ul.pagination li {
    height: auto;
    margin: 0;
    float: none;
}

ul.pagination li a {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0.75em;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
}

/* Footer */
/*footer {
  display:block;
  gap: 1em;
  padding-top: 0.5em;
}*/

/* Footer */
footer {
    display: flex;
    gap: 1em;
    padding-top: 0.5em;
    flex-direction: column;
    padding: 0.8em 2em;
    margin: 1em;
    line-height: 1em;
}

/* Indices list */
.indices-list {
    list-style: inside none;
    margin-top: 1em;
}

.indices-list li {
    margin-bottom: 0.5em;
}

/* Seal page */
h3.iospe,
h4.iospe,
dl.iospe dt,
dl.iospe dd,
h4#notes,
*[lang = "la"],
.textpartnumber {
    font-family: var(--base-font);
    font-size: inherit;
}

dl.iospe dd p:last-of-type {
    margin-bottom: 0;
}

#apparatus,
#edition,
#lettering,
#commentary p,
div#footnotes p,
.textpart {
    font-family: var(--base-font);
}

#diplomatic *[lang = "la"],
#diplomatic *[lang = "grc"],
#diplomatic .textpart {
    font-family: "athenaruby";
}

/* Seal table */
dl.iospe {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.25em 1em;
}

dl.iospe dt {
    width: 33%;
}

dl.iospe dd {
    width: 66%;
    padding-left: 0;
}

h3.iospe {
    float: none;
}

dl.iospe {
    padding-left: 0;
}

dl.iospe dt {
    width: 300px;
    max-width: 300px;
    margin-right: 1em;
    text-align: right;
}

dl.iospe dd {
    margin-left: 0;
}

/* Seal section titles */
h3.iospe {
    font-size: var(--fs-large);
}

h3.iospe,
h4.iospe {
    width: auto;
    max-width: inherit;
    margin: 1em 0;
}

h4.iospe i {
    font-style: normal;
}

/* Footnote's tooltip */
.footnote-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.footnote-tooltip .tooltiptext {
    position: absolute;
    z-index: 1;
    display: block;
    visibility: hidden;
    padding: 1em;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.footnote-tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Footnotes */
#footnotes a.back-to-ref {
    text-decoration: none;
}

/* Font sizing on seal page */
dl.iospe dd,
#apparatus,
#commentary,
#translation h4 {
    font-size: var(--fs-base);
}

#biblioEditions,
#biblioCommEditions,
#biblioParallels,
#biblioCommParallels {
    font-family: var(--base-font);
}

#lettering,
#apparatus,
#commentary,
#footnotes {
    font-family: var(--base-font);
}
